<launch>
  <arg name="signal_topic_name" default="/signal" />
  <arg name="proc_topic_name" default="/proc_signal" />
  
  <node pkg="minichallenge1" name="process"/>
  <node pkg="minichallenge1" name="signal"/>
  
  <node pkg="rostopic" type="rostopic" name="rostopic_pub_node" output="screen" args="pub $(arg signal_topic_name)" />
  <node pkg="rostopic" type="rostopic" name="rostopic_pub_node" output="screen" args="pub $(arg proc_topic_name)" />

  <node pkk="rqt_graph" type="rqt_graph" name="rqt_graph" output="screen"/>

  <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot">
    <param name="plot_topic" value="/signal"/>
    <param name="plot_topic" value="/proc_signal"/>
  </node>

  
</launch>